<div>
    <div id="pIDLabel">
        <label for="name">Please input your Prolific ID here:</label>
        <input type="text" id="prolificID" name="prolificID" required>
    </div>
    <div>
        <p>
            Please make sure to read each questions and pick the best answer, no prior
            knowledge of the topics is necessary. It's okay if you get them wrong, we are 
            trying to see how easy the questions are without prior knowledge of the topic.
        </p>
    </div>
    <div>
        <div id="pSubmit">
        <button class="submit" onclick="pSubmit()">Submit</button>
    </div>
    <div id="pNext">
        <div id="btn-next-page"></div>
    </div>
</div>
<script>
    function pSubmit () {
        document.getElementById("pSubmit").style.visibility='hidden'
        document.getElementById("pNext").style.visibility='visible'
    }
</script>